doctype html
head
  meta(charset='utf-8')
  title Subscription prices
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='A demo of Stripe Billing')
  link(rel='stylesheet' href='stylesheets/normalize.css')
  link(rel='stylesheet' href='stylesheets/global.css')
  script(src='https://js.stripe.com/v3/')
  script(src='/scripts/stripe.js' defer='')
nav.flex.items-center.justify-between.flex-wrap
  svg(width='79px' height='24px' viewbox='0 0 79 24')
    image(onclick="window.location.href='/'" xlink:href='https://storage.googleapis.com/stripe-sample-images/logo-pasha.svg')
  div
    button.bg-white.text-pasha.font-light.py-2.px-4.rounded(class='hover:bg-white hover:shadow-outline hover:text-pasha hover:border hover:border-black focus:shadow-outline focus:bg-white focus:text-pasha' type='button' onclick="window.location.href='/'")
      | Sign out
#subscription-cancelled.hidden
  .flex.flex-wrap.font-bold.text-pasha.text-xl.mt-6.mb-2
    | Subscription canceled
  div
    button.bg-pasha.text-white.font-light.py-2.px-4.rounded(class='hover:bg-white hover:shadow-outline hover:text-pasha hover:border hover:border-black focus:shadow-outline focus:bg-white focus:text-pasha' type='button' onclick="window.location.href='/'")
      | Restart demo
#subscription-settings
  .flex.flex-wrap.justify-center.mt-4
    .w-full.inline-block.rounded-md.p-4(class='md:w-2/5')
      #subscription-status-text.text-center.font-bold.text-pasha.text-2xl
        | Account settings
      .mt-4.border.rounded.p-4
        .font-bold.text-xl.mb-2
          | Account
        .flex.justify-between.text-gray-600.text-xl
          div Current price
          #subscribed-price.font-bold.text-xl
        .flex.justify-between
          .text-xl.text-gray-600
            | Credit card
          span#credit-card-last-four.font-bold.text-xl.text-gray-600
        .flex.justify-between.mt-2.mb-2.text-gray-900.font-bold.text-xl.cursor-pointer(onclick='changePrice()')
          span
            | Change pricing plan 
            span &rarr;
        .flex.justify-between.mt-2.mb-2.text-gray-900.font-bold.text-xl.cursor-pointer(onclick='cancelSubscription()')
          span
            | Cancel subscription 
            span &rarr;
      #prices-form.w-full.mr-4.hidden(class='md:mb-8')
        .text-center.text-pasha.font-bold.text-2xl.mt-4.mb-6
          | Change pricing plan
        .flex.justify-between.mb-8
          #basic.rounded.overflow-hidden.border.rounded-md.p-2.mr-4(class='w-1/2 md:mr-8')
            .px-2.py-2
              .text-gray-500.text-xl.mb-2.font-medium
                | Basic
              p.text-pasha.text-2xl.font-extrabold
                | $5.00
              .flex-wrap
                .leading-none.text-gray-500.text-xs.font-medium
                  | Per month
                .leading-none.text-gray-500.text-xs.font-medium.mt-1
                  | Billed monthly
              .flex.justify-center.mt-6
                button#submit-basic.bg-pasha.outline-none.text-white.font-light.py-2.px-4.rounded-lg(onclick="switchPrices('BASIC')" class='hover:bg-white hover:text-pasha hover:border hover:border-black focus:bg-white focus:text-pasha' type='submit')
                  #submit-basic-button-text.w-auto.-mx-2(class='md:mx-0')
                    #loading
                    span#button-text Select
          #premium.rounded.overflow-hidden.border.rounded-md.p-2(class='w-1/2')
            .px-2.py-2
              .text-gray-500.text-xl.mb-2.font-medium
                | Premium
              p.text-pasha.text-2xl.font-extrabold
                | $15.00
              .flex-wrap
                .leading-none.text-gray-500.text-xs.font-medium
                  | Per month
                .leading-none.text-gray-500.text-xs.font-medium.mt-1
                  | Billed monthly
              .flex.justify-center.mt-6
                button#submit-premium.bg-pasha.outline-none.text-white.font-light.py-2.px-4.rounded-lg(onclick="switchPrices('PREMIUM')" class='hover:bg-white hover:text-pasha hover:border hover:border-black focus:bg-white focus:text-pasha' type='submit')
                  #submit-premium-button-text.w-auto.-mx-2(class='md:mx-0')
                    #loading
                    span#button-text Select
        #price-change-form.flex.justify-center
          .w-full.rounded.overflow-hidden.border.rounded-md.p-4.mb-4
            .flex.justify-between.text-gray-600.text-m
              div Current price
              #current-price-subscribed.font-bold.text-m
            .flex.justify-between.text-gray-600.text-m
              div New price
              #new-price-selected.font-bold.text-m
            div
              p.mt-4.mb-4.text-gray-600
                | You will be charged
                span#new-price-price-selected
                |                     on 
                span#new-price-start-date
              button#confirm-price-change-submit.bg-pasha.text-white.font-light.py-2.px-4.rounded-lg(onclick='confirmPriceChange()' class='hover:bg-white hover:shadow-outline hover:text-pasha hover:border hover:border-black focus:shadow-outline focus:bg-white focus:text-pasha' type='submit')
                .w-auto.-mx-2(class='md:mx-0')
                  #loading
                  span#button-text Confirm change
              button#confirm-price-change-cancel.bg-pasha.text-white.font-light.py-2.px-4.rounded-lg(onclick='cancelChangePrice()' class='hover:bg-white hover:shadow-outline hover:text-pasha hover:border hover:border-black focus:shadow-outline focus:bg-white focus:text-pasha' type='submit')
                .w-auto.-mx-2(class='md:mx-0')
                  #loading
                  span#button-text Cancel
