extends layout

block content
  center
    img(src="https://cdn.glitch.com/8a4d5283-c9f0-4cc9-9cb0-ff953383dacc%2Ffogg-page-not-found.png?v=1592635547256")
    br
    h4 Error #{error.status}
    p This issue has been reported. If this keeps happening, text #[span Sarthak] directly.
  //h1= message
  //h2= error.status
  //pre #{error.stack}
