mixin footer
  .text-center
    p Made with ❤ at Brandeis High School in San Antonio, Texas
    p Brought to you by Sarthak Mohanty and Sponsors
    img(style="filter: invert(53%) sepia(0%) saturate(1696%) hue-rotate(20deg) brightness(92%) contrast(90%);" height="20" width="20" src="https://unpkg.com/simple-icons@v3/icons/glitch.svg")
    | #[img(style="filter: invert(53%) sepia(0%) saturate(1696%) hue-rotate(20deg) brightness(92%) contrast(90%);" height="20" width="20" src="https://unpkg.com/simple-icons@v3/icons/Glitch.svg")]
    | #[img(style="filter: invert(53%) sepia(0%) saturate(1696%) hue-rotate(20deg) brightness(92%) contrast(90%);" height="20" width="20" src="https://unpkg.com/simple-icons@v3/icons/Node.js.svg")]
    | #[img(style="filter: invert(53%) sepia(0%) saturate(1696%) hue-rotate(20deg) brightness(92%) contrast(90%);" height="20" width="20" src="https://unpkg.com/simple-icons@v3/icons/Babel.svg")]
    | #[img(style="filter: invert(53%) sepia(0%) saturate(1696%) hue-rotate(20deg) brightness(92%) contrast(90%);" height="20" width="20" src="https://unpkg.com/simple-icons@v3/icons/GitHub.svg")]
    | #[img(style="filter: invert(53%) sepia(0%) saturate(1696%) hue-rotate(20deg) brightness(92%) contrast(90%);" height="20" width="20" src="https://unpkg.com/simple-icons@v3/icons/Amazon AWS.svg")]
    | #[img(style="filter: invert(53%) sepia(0%) saturate(1696%) hue-rotate(20deg) brightness(92%) contrast(90%);" height="20" width="20" src="https://unpkg.com/simple-icons@v3/icons/NPM.svg")]
    | #[img(style="filter: invert(53%) sepia(0%) saturate(1696%) hue-rotate(20deg) brightness(92%) contrast(90%);" height="20" width="20" src="https://unpkg.com/simple-icons@v3/icons/Git.svg")]
    | #[img(style="filter: invert(53%) sepia(0%) saturate(1696%) hue-rotate(20deg) brightness(92%) contrast(90%);" height="20" width="20" src="https://unpkg.com/simple-icons@v3/icons/GitKraken.svg")]
    | #[img(style="filter: invert(53%) sepia(0%) saturate(1696%) hue-rotate(20deg) brightness(92%) contrast(90%);" height="20" width="20" src="https://unpkg.com/simple-icons@v3/icons/DigitalOcean.svg")]
    | #[img(style="filter: invert(53%) sepia(0%) saturate(1696%) hue-rotate(20deg) brightness(92%) contrast(90%);" height="20" width="20" src="https://unpkg.com/simple-icons@v3/icons/Babel.svg")]
    | #[img(style="filter: invert(53%) sepia(0%) saturate(1696%) hue-rotate(20deg) brightness(92%) contrast(90%);" height="20" width="20" src="https://unpkg.com/simple-icons@v3/icons/Babel.svg")]
    p copyright Sarthak Mohanty 2020