extends layout

block content
  link(rel='stylesheet', href='/stylesheets/style.css')
  .w3-card-4.text-center
    if locals.user
      +resourcesnormal
    else
      center
        br
        h2 You are not logged in! Please #[a(href="/login") Log In] to continue.
        h4 If you do not have an account, consider getting one.
        ul.list-group(style="width: 14rem;")
          li.list-group-item.active Your Paid Subscription includes:
          li.list-group-item Better grades guarantee (#[abbr(title="Subject to the eligibility requirements below, we’ll fully refund your subscription fee if you don’t earn a higher GPA for the academic term during which you first subscribed as compared to the academic term immediately prior to your subscription. To be eligible for the Better Grades Guarantee, you must have used the resource bank in the last six (6) months by using at least six (6) study resources OR asking at least three (3) questions to our tutors; you must request your refund within six (6) months after the date of first registering as a paying subscriber of my resource bank; and you may be required to verify your eligibility by submitting a copy of your transcripts from the two most recent academic terms.") terms])
          li.list-group-item Change, pause, or cancel recurring payments anytime.
          li.list-group-item 24/7 Homework help
          li.list-group-item Premium Documents
          li.list-group-item Textbook solutions & explanations
        br
        table.table.table-bordered.table-dark(style="width: 14rem;")
          thead
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td(colspan='2') Larry the Bird
              td @twitter

        //+pricing

