extends layout

block content
  link(rel='stylesheet', href='/stylesheets/style.css')
  .w3-container
    if locals.user
      p While you do have access, resources aren't on this page. Go ahead and go
      |
      a(href="/resources") here
      |
      | if you want to check em out.
    else
      center
        h2 You are not logged in! Please #[a(href="/login") Log In] to continue.
        h4 If you do not have an account, consider getting one.
        +pricing