extends layout

block content
  .w3-container
    if locals.user
      +resources
      
    else
      h2 You are not logged in! Please #[a(href="/login") Log In] to continue.
      h4 If you do not have an account, consider getting one.
      +pricing
