extends layout

block content
  link(rel='stylesheet', href='/stylesheets/style.css')
  .w3-card-4.text-center
    if locals.user
      +resourcesnormal
    else
      center
        br
        h2 You are not logged in! Please #[a(href="/login") Log In] to continue.
        h4 If you do not have an account, consider getting one.
        ul.list-group(style="width: 14rem;")
          li.list-group-item Your Paid Subscription includes:
          li.list-group-item Better grades guarantee ([#abbr(title="HyperText Markup Language" class="initialism") terms])
          li.list-group-item Change, pause, or cancel recurring payments anytime.
          li.list-group-item 24/7 Homework help
          li.list-group-item Unlock 30 documents per month
          li.list-group-item Textbook solutions & explanations
        br
        +pricing