extends layout

block content
  link(rel='stylesheet', href='/stylesheets/style.css')

  .w3-card-4.text-center
    if locals.user
      p go to resources
    else
      center
        br
        h5 Resource Bank is #[em invite-only]. If you have an account, please #[a(href="/login") log in] to continue.
        h5 If you do not have an account, you can request an invite by emailing #[a(href="mailto:request@sarthakmohanty.me") request@sarthakmohanty.me].
        h5 You can pay over #[a(href="/pay") here] and request a discount over #[a(href="/discount") here].

