extends layout

block content
  link(rel='stylesheet', href='/stylesheets/style.css')
  .w3-container
    if locals.user
      +resources
      
    else
      h2.center You are not logged in! Please #[a(href="/login") Log In] to continue.
      h4.center If you do not have an account, consider getting one.
      +pricing
