extends layout

block content
  link(rel='stylesheet', href='/stylesheets/style.css')

  .w3-card-4.text-center
    if locals.user
      +resourcesnormal
    else
      center
        br
        h6 Resource Bank is #[em invite-only]. If you have an account, please #[a(href="/login") log in] to continue.
        h6 If you do not have an account, you can request an invite by emailing #[a(href="mailto:request@sarthakmohanty.me) request@sarthakmohanty.me].
        h6 You can pay over #[a(href="/pay") here] and request a discount over #[a(href="/disc") here].

