doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='shortcut icon', href='https://sarthakmohanty.me/android-chrome-512x512.png')
    link(href='https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap', rel='stylesheet')
  body
    .topnav( role="navigation" )
      h1.topnav.name Sarthak Mohanty
      a(href="/").navButton Home
      a(href="https://sarthakmohanty.me/contact" target="_blank").navButton Contact Me
      if locals.user
        a(href="/user" id="profileDropDown").navButton Profile
        a(id="qsLogoutBtn" href="/logout").navButton Log Out
      else
        a(href="/pricing").navButton Pricing
        a(id="qsLoginBtn" href="/login").navButton Log In
        
    block content