doctype html
html
  head
    title= title
    link(rel='shortcut icon', href='https://sarthakmohanty.me/android-chrome-512x512.png')
    link(href='https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap', rel='stylesheet')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://js.cdn.manifold.co/@manifoldco/manifold-plan-table/dist/manifold-plan-table/manifold-plan-table.css')
    // CSS only
    link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
    // JS, Popper.js, and jQuery
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/scripts/search.js')
  body
    include resourcesnormal
    include resourcessecured
    include pricing
    script(async, type='module', src='https://js.cdn.manifold.co/@manifoldco/manifold-init/dist/manifold-init/manifold-init.esm.js')
    script(nomodule, src='https://js.cdn.manifold.co/@manifoldco/manifold-init/dist/manifold-init/manifold-init.js')
    script(async, type='module', src='https://js.cdn.manifold.co/@manifoldco/manifold-plan-table/dist/manifold-plan-table/manifold-plan-table.esm.js')
    script(nomodule, src='https://js.cdn.manifold.co/@manifoldco/manifold-plan-table/dist/manifold-plan-table/manifold-plan-table.js')
    .topnav( role="navigation" )
      if locals.user
        h1.topnav.name Sarthak Mohanty
        if user.nickname === "sarthaktexas"
          a(href="/resources") Resources
          a(href="https://sarthakmohanty.me/contact" target="_blank") Contact Yourself?
          a(href="/user" id="profileDropDown") Profile
          a(id="qsLogoutBtn" href="/logout") Log Out
        else
          a(href="/resources") Resources
          a(href="https://sarthakmohanty.me/contact" target="_blank") Contact Me
          a(href="/user" id="profileDropDown") Profile
          a(id="qsLogoutBtn" href="/logout") Log Out
      else
        h1.topnav.name Sarthak Mohanty
        a(href="/") Home
        a(href="/resources") Resources
        a(href="https://sarthakmohanty.me/contact" target="_blank") Contact Me
        a(id="qsLoginBtn" href="/login") Log In
      button(type="button" class="btn btn-success") Incidents 
        span(class="badge badge-light") 0
    block content
