extends layout

block content
  script(src="stripe.js" defer)
  .w3-card-4
    head
      title Checkout
      script(src='https://js.stripe.com/v3/')
      link(rel='stylesheet' href='StripeElements.css')

    

  