doctype html
head
  meta(charset='utf-8')
  title Subscription prices
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='A demo of Stripe Billing')
  link(rel='stylesheet' href='stylesheets/normalize.css')
  link(rel='stylesheet' href='stylesheets/global.css')
  script(src='https://js.stripe.com/v3/')
  script(src='/scripts/stripe.js' defer='')
nav.flex.items-center.justify-between.flex-wrap
  svg(width='79px' height='24px' viewbox='0 0 79 24')
    image(onclick='resetDemo()' xlink:href='https://storage.googleapis.com/stripe-sample-images/logo-pasha.svg')
  div
    button.bg-white.text-pasha.font-light.py-2.px-4.rounded(class='hover:bg-white hover:shadow-outline hover:text-pasha hover:border hover:border-black focus:shadow-outline focus:bg-white focus:text-pasha' type='button' onclick='resetDemo()')
      | Sign out
#prices-and-payment.flex.flex-wrap.justify-center
  #prices-form.w-full.mr-4(class='md:w-1/3 md:mb-8')
    .text-center.text-pasha.font-bold.text-2xl.mt-4.mb-6
      | Subscribe to a plan
    .flex.justify-between.mb-8
      #basic.rounded.overflow-hidden.border.rounded-md.p-2.mr-4(class='w-1/2 md:mr-8')
        .px-2.py-2
          .text-gray-500.text-xl.mb-2.font-medium
            | Basic
          p.text-pasha.text-2xl.font-extrabold
            | $5.00
          .flex-wrap
            .leading-none.text-gray-500.text-xs.font-medium
              | Per month
            .leading-none.text-gray-500.text-xs.font-medium.mt-1
              | Billed monthly
          .flex.justify-center.mt-6
            button#submit-basic.bg-pasha.outline-none.text-white.font-light.py-2.px-4.rounded-lg(onclick="goToPaymentPage('basic')" class='hover:bg-white hover:text-pasha hover:border hover:border-black focus:bg-white focus:text-pasha' type='submit')
              #submit-basic-button-text.w-auto.-mx-2(class='md:mx-0')
                | Select
      #premium.rounded.overflow-hidden.border.rounded-md.p-2(class='w-1/2')
        .px-2.py-2
          .text-gray-500.text-xl.mb-2.font-medium
            | Premium
          p.text-pasha.text-2xl.font-extrabold
            | $15.00
          .flex-wrap
            .leading-none.text-gray-500.text-xs.font-medium
              | Per month
            .leading-none.text-gray-500.text-xs.font-medium.mt-1
              | Billed monthly
          .flex.justify-center.mt-6
            button#submit-premium.bg-pasha.outline-none.text-white.font-light.py-2.px-4.rounded-lg(onclick="goToPaymentPage('premium')" class='hover:bg-white hover:text-pasha hover:border hover:border-black focus:bg-white focus:text-pasha' type='submit')
              #submit-premium-button-text.w-auto.-mx-2(class='md:mx-0')
                | Select
    #payment-form.flex.justify-center.hidden
      .w-full.inline-block.border.p-4.rounded-md
        .font-bold.text-xl.mb-2
          | Enter your card details. 
          br
          | Your subscription will start now.
        p.text-gray-700.text-base
          | &rarr; Total due now 
          span#total-due-now $0.00
        p#price-selected.text-gray-700.text-base.mb-4
        .w-full
          .flex.flex-wrap.-mx-3.mb-2
            .w-full.px-3(class='md:mb-0')
              label.block.uppercase.tracking-wide.text-gray-700.text-xs.font-bold.mb-2(for='grid-first-name')
                | Full name
              input#name.appearance-none.block.w-full.bg-gray-200.border.rounded-md.py-3.px-2.mb-3.leading-tight(class='focus:outline-none focus:bg-white' type='text' placeholder='First and last name' required='')
          form#payment-form
            .flex.flex-wrap.-mx-3.mb-3
              .w-full.px-3.mb-0
                label.block.uppercase.tracking-wide.text-gray-700.text-xs.font-bold.mb-2(for='grid-first-name')
                  | Card
                #card-element.appearance-none.block.w-full.bg-gray-200.text-gray-700.border.rounded-md.py-3.px-2.leading-tight(class='focus:outline-none focus:bg-white')
                #card-element-errors.text-gray-700.text-base.mt-2(role='alert')
            button#submit-premium.w-full.bg-pasha.text-white.font-light.py-2.px-4.rounded-md(class='hover:bg-white hover:shadow-outline hover:text-pasha hover:border hover:border-black focus:shadow-outline focus:bg-white focus:text-pasha' type='submit')
              div
                #loading.hidden Subscribing...
                span#button-text Subscribe