extends layout

block content
  link(rel='stylesheet', href='/stylesheets/style.css')
  .w3-card-4
    if locals.user
      if user.user_metadata.breached === true
        +resourcesnormal
      if user.user_metadata.breached === false
        +resourcessecured
      else
        h1 idk what you're tryna do