mixin resourcesnormal
  h3 for plebs
  p we got some *free* resources... so here ya go:
  // Button trigger modal
  button.btn.btn-primary.btn-sm(data-toggle='modal' data-target='#myModal') Launch demo modal
  // Modal
  #myModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
        .modal-body
          iframe(src='http://docs.google.com/gview?url=http://www.pdf995.com/samples/pdf.pdf&embedded=true' style='width:780px; height:1000px;' frameborder='0')
        .modal-footer
          button.btn.btn-default(type='button' data-dismiss='modal') Close
          button.btn.btn-primary(type='button') Save changes
