extends layout

block content
  link(rel='stylesheet', href='/stylesheets/style.css')
  .w3-card-4
    if locals.user
      h2 Session ID:
      h3 Each session ID is characterized by a harder to crack encryption mechanism. DINGY DONG DANG, don't share it :)
      pre
        =freshmanSessionID
        =sophomoreSessionID
        code=juniorSessionID
        code=seniorSessionID
      //if user.app_metadata.breached
        +resourcesnormal
      //else
      +resourcesnormal
      +resourcessecured
    else
      h1 bro you better log in, don't play me