mixin resourcesnormal
  h1 Free Resources
  
  // https://www.youtube.com/watch?v=wxz5vJ1BWrc
  // https://www.youtube.com/watch?v=1iysNUrI3lw
  
  .searchContainer
    h4 &#x2728; Resource Search Bar &#x2728;
    #searchWrapper.input-group.mb-3
      input#searchBar.form-control(type='text' placeholder='Search for Resource' aria-label='Search for Resource')
    br
    ul#resourcesList
  // Button trigger modal
  // Modal
  //#myModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
        .modal-body
          iframe(src='http://docs.google.com/gview?url=http://www.pdf995.com/samples/pdf.pdf&embedded=true' style='width:700px; height:1000px;' frameborder='0')
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Close
  //.card(style='width: 18rem;')
    .card-body
      h5.card-title Lorem Ipsum
      h6.card-subtitle.mb-2.text-muted Dolor Sit Amet
      p.card-text
        | Lorem Ipsum Dolor Sit Amet. Sarthak doesn't know the rest so this is his jerry-rig filler text. Did that rhyme??
      button.card-link.btn.btn-primary.btn-sm(data-toggle='modal' data-target='#myModal') Launch demo modal