mixin resourcesnormal
  h3 for plebs
  p we got some *free* resources... so here ya go:
  div(style='text-align: center;')
    iframe(src='https://d2d3mdelw3jx6o.cloudfront.net/secured/PPC/CalcAB/SG_Unit2ProgressCheckFRQPartA.pdf#toolbar=0' style='width:500px; height:500px;' frameborder='0')
