.w3-container a {
  color: #337ab7;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

pre {
  text-align: left;
  font-family: "Courier New", Courier, monospace;
  background-color: #343f5f;
  color: #fdfeff;
  overflow: scroll;
  border: 1px #929090 solid;
  padding: 15px;
}

.w3-card-4 {
  padding: 15px;
  font-family: "Inter", sans-serif;
}

/* Style the navigation menu */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  font-family: "Inter", sans-serif;
}

/* Navigation links */
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
  font-family: "Inter", sans-serif;
}

/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: #000;
  font-family: "Inter", sans-serif;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
    font-family: "Inter", sans-serif;
  }
}

.name {
  color: white;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.icon a:hover {
  background-color: #333;
  color: #f2f2f2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

.center {
  font-align: center;
}