.w3-container a {
  color: #337ab7;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.w3-container {
  font-family: "Inter", sans-serif;
}

pre {
  text-align: left;
  font-family: "Courier New", Courier, monospace;
  background-color: #343f5f;
  color: #fdfeff;
  overflow: scroll;
  border: 1px #929090 solid;
  padding: 15px;
}

.w3-card-4 {
  padding: 15px;
  font-family: "Inter", sans-serif;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #060606;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: none;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  border-radius: 10px;
  line-height: 10px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  /*   background-color: #21d190;
  background-image: linear-gradient(315deg, #21d190 0%, #d65bca 74%); */
  color: black;
  text-decoration: none;
  border-radius: 10px;
  line-height: 10px;
}

#profileDropDown a:hover {
  background-color: #ddd;
  /*   background-color: #21d190;
  background-image: linear-gradient(315deg, #21d190 0%, #d65bca 74%); */
  color: black;
  text-decoration: none;
  border-radius: 10px;
  line-height: 10px;
}

#qsLogoutBtn a:hover {
  background-color: green;
  /*   background-color: #21d190;
  background-image: linear-gradient(315deg, #21d190 0%, #d65bca 74%); */
  color: black;
  text-decoration: none;
  border-radius: 10px;
  line-height: 10px;
}

#qsLogoutBtn a:hover {
  background-color: red;
  /*   background-color: #21d190;
  background-image: linear-gradient(315deg, #21d190 0%, #d65bca 74%); */
  color: black;
  text-decoration: none;
  border-radius: 10px;
  line-height: 10px;
}

.name {
  color: white;
  font-family: "Inter", sans-serif;
  margin: 15px;
  text-align: center;
  font-weight: 600;
}

.icon a:hover {
  background-color: #333;
  color: #f2f2f2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

a.qblink {
  color: #337AB7;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}
a.qblink:hover {
  color: #337ABE;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

/* Search Bar */

.searchContainer {
  padding: 40px;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

#charactersList {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}

.character {
  list-style-type: none;
  background-color: #eaeaea;
  border-radius: 3px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "name image"
    "link image";
  text-align: left;
}

.character > h2 {
  grid-area: name;
  margin-bottom: 0px;
}

.character > p {
  grid-area: link;
  margin: 0;
  margin-top: -18px;
}

.character > img {
  max-height: 100px;
  grid-area: image;
}

#searchBar {
  width: 100%;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  padding: 5px 10px;
  font-size: 12px;
}

#searchWrapper {
  position: relative;
}

#searchWrapper::after {
  content: "🔍";
  position: absolute;
  top: 7px;
  right: 15px;
}

/* Editing Bootstrap cause I'm a boss */
.alertcustomwidth {
  display:inline-block;
}

/* This is for the Bootstrap cards */
.customfloatleft {
  float: left;
  margin: 10px;
}

.customPadding {
/*   padding-top: 650px; */
}

.imagepadding {
 padding: 2px;
}

.custom