.w3-container a {
  color: #337ab7;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

pre {
  text-align: left;
  font-family: "Courier New", Courier, monospace;
  background-color: #343f5f;
  color: #fdfeff;
  overflow: scroll;
  border: 1px #929090 solid;
  padding: 15px;
}

.w3-card-4 {
  padding: 15px;
  font-family: "Inter", sans-serif;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Inter", sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.name {
  color: white;
  font-family: "Inter", sans-serif;
  margin: 20px;
}

h1 h2 h3 h4 h5 h6 {
  font-family: "Inter", sans-serif;
}

.profile {
  display: inline;
}